/.vagrant
/node_modules
/public/storage
/public/hot
/vendor
Homestead.json
Homestead.yaml
homestead
.env
storage/logs/laravel.log
/public/api-rendered-markdowns/*
/public/api/
/public/uploads/
/.idea
_ide_helper*.php
.phpstorm.meta.php
